@model Webshop.Models.Order

@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function validateForm() {
        var x = document.forms["myForm"]["fname"].value;
        if (x == "" || x == null) {
            alert("Minden mező kitöltése kötelező!");
            return false;
        }
    }
</script>

<h2>Megrendelés</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Cart" asp-action="CheckOut">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Teljes név:</label>
                <input asp-for="CustomerName" class="form-control" placeholder="Kiss Béla" onsubmit="return validateForm()" method="post" required />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label">Telefonszám:</label>
                <input asp-for="CustomerPhone" class="form-control" input type="tel" id="phone" name="phone" placeholder="06301234567" pattern="[0-9]{11}" onsubmit="return validateForm()" method="post" required />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerEmail" class="control-label">Email:</label>
                <input asp-for="CustomerEmail" class="form-control" input type="email" id="email" name="email" placeholder="kissb@gmail.com" onsubmit="return validateForm()" method="post" required />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label">Szállítási cím:</label>
                <input asp-for="CustomerAddress" class="form-control" placeholder="8000 Székesfehérvár Budai ut 45" } onsubmit="return validateForm()" method="post" required />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Megrendelés" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vissza a kosárhoz.</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
